<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <form action="/books/add" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Book title" autofocus required>
                </div>
                <div class="form-group">
                    <input type="text" name="author" class="form-control" placeholder="Author">
                </div>
                <div class="form-group">
                    <input 
                        type="text" 
                        name="isbn" 
                        class="form-control" 
                        placeholder="ISBN" 
                        pattern="(?:(?=.{17}$)97[89][ -](?:[0-9]+[ -]){2}[0-9]+[ -][0-9]|97[89][0-9]{10}|(?=.{13}$)(?:[0-9]+[ -]){2}[0-9]+[ -][0-9Xx]|[0-9]{9}[0-9Xx])">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>