{{#if books}}
{{#each books}}
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h3>{{title}}</h3>
            <p>Author: {{author}}</p>
            <p>ISBN: {{isbn}}</p>
        </div>
    </div>
</div>
{{/each}}
{{/if}}