<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{!-- bootswatch --}}
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    {{!-- custom CSS --}}
    <link rel="stylesheet" href="css/style.css">
    <title>TS Node App - {{title}}</title>
</head>
<body>
    {{> navigation}}
    <div class="container p-4">
        <div class="row">
            {{{body}}}
        </div>
    </div>
 
</body>
</html>